<html>
<head>
    <meta charset="utf-8">
    <title>Songs Homepage - Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <!-- Display radio buttons for each song,
            the value should be the trackId
            and the displayed text should be Title: <songTitle>, Genre:<genre>, Release Year: <releaseYear> -->
<!--    <input type="radio" th:each="song: ${songs}" th:value="${song.getTrackId()}" th:text="'Title: ' + ${song.getTitle()} + ', Genre: ' +-->
<!--${song.getGenre()} + ', Release Year: ' + ${song.getReleaseYear()}" >-->

<!--    <input type="radio" name="trackId" value="1"> Song 1 <br/>-->
<!--    <input type="radio" name="trackId" value="2"> Song 2 <br/>-->
<!--    <input type="radio" name="trackId" value="3"> Song 3 <br/>-->
<!--    <input type="radio" name="trackId" value="1"> Song 4 <br/>-->
<!--    <input type="radio" name="trackId" value="2"> Song 5 <br/>-->

    <form action="/artist" method="post">
        <c:forEach var="song" items="${songs}">
            <input type="radio" name="trackId" value="${song.trackId}"> Title: ${song.title}, Genre: ${song.genre}, Release Year: ${song.releaseYear}<br/>
        </c:forEach>
    </form>

    <input type='submit' value='Submit'>
</main>
</body>
</html>